.header {
   padding-top: 20px;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   z-index: 1000;
   transition: all 0.7s linear;
}

.header__active {
   background-color: #ffffff;
   padding: 10px 0;
}

.header__items {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header-logo {
   width: 165px;
   height: 35px;
   cursor: pointer;
}

.nav__list {
   list-style: none;
   display: flex;
}

.link a {
   color: #ffffff;
   opacity: 0.6;
   line-height: 140%;
   transition: opacity 0.5s;
}

.link a:hover {
   opacity: 1;
}

.link-active a {
   opacity: 1;
   font-weight: 500;
}

.link a {
   text-decoration: none;
}

.link:not(:first-child) {
   margin-left: 30px;
}

.haeder__user-account a {
   text-decoration: none;
   color: #ffffff;
   line-height: 140%;
}
